<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home Page LeetCode</title>
</head>
<body>
<h2>Main Page with LeetCode answers</h2>
<hr>
<h3>Easy</h3>
<p>
    <a th:href="@{/validAnagram}">Task 01. <i>242. Valid Anagram </i></a>
</p>
<p>
    <a th:href="@{/mergeSortedArrays}">Task 02. <i>88. Merge Sorted Arrays </i></a>
</p>
<p>
    <a th:href="@{/plusOne}">Task 03. <i>66. Plus One </i></a>
</p>
<p>
    <a th:href="@{/sqrtX}">Task 04. <i>69. Sqrt(x) </i></a>
</p>
<p>
    <a th:href="@{/removeDuplicatesSortedList}">Task 05. <i>83. Remove Duplicates from Sorted List </i></a>
</p>
<p>
    <a th:href="@{/getMajorityElement}">Task 06. <i>169. Majority Element </i></a>
</p>
<p>
    <a th:href="@{/containsDuplicateSecond}">Task 07. <i>219. Contains Duplicate II </i></a>
</p>
<p>
    <a th:href="@{/convertTheTemperature}">Task 08. <i>2469. Convert the Temperature </i></a>
</p>
<p>
    <a th:href="@{/getTwoSumIndexes}">Task 09. <i>1. Two Sum </i></a>
</p>

<hr>
<h3>Medium</h3>
<p>
    <a th:href="@{/getAddTwoNumbersLinkedList}">Task 10. <i>2. Add Two Numbers</i></a>
</p>
<p>
    <a th:href="@{/getLongestSubstringWithoutRepeatingCharacters}">Task 11. <i>3. Longest Substring Without Repeating Characters</i></a>
</p>
<p>
    <a th:href="@{/getLongestPalindromicSubstring}">Task 13. <i>5. Longest Palindromic Substring</i></a>
</p>
<p><a th:href="@{/getAreaWithMostWater}">Task 14. <i>11. Container With Most Water</i></a>
</p>
<p>
    <a th:href="@{/getZigZagConversion}">Task 15. <i>6. ZigZag Conversion</i></a>
</p>
<p>
    <a th:href="@{/getReverseInteger}">Task 16. <i>7. Reverse Integer</i></a>
</p>
<p>
    <a th:href="@{/getStringToIntegerAtoi}">Task 17. <i>8. String to Integer (atoi)</i></a>
</p>
<p>
    <a th:href="@{/getLetterCombinations}">Task 18. <i>17. Letter Combinations of a Phone Number</i></a>
</p>
<p>
    <a th:href="@{/get3Sum}">Task 19. <i>15. 3 Sum</i></a>
</p>
<p>
    <a th:href="@{/get4Sum}">Task 20. <i>18. 4 Sum</i></a>
</p>


<p>
    <a th:href="@{/get3SumClosest}">Task 21. <i>16. 3 Sum Closest</i></a>
</p>
<p>
    <a th:href="@{/getRemoveNthElement}">Task 22. <i>19. Remove Nth Element from the End of the List</i></a>
</p>
<p>
    <a th:href="@{/generateParentheses}">Task 23. <i>22. Generate Parentheses</i></a>
</p>
<hr>
<h3>Hard</h3>
<p>
    <a th:href="@{/getMedianTwoSortedArrays}">Task 12. <i>4. Median of Two Sorted Arrays</i></a>
</p>
<p>
    <a th:href="@{/getMergedKSortedLists}">Task 24. <i>23. Merge k Sorted Lists</i></a>
</p>

</body>
</html>