<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home Page LeetCode</title>
</head>
<body>
<h2>Main Page with LeetCode answers</h2>
<hr>
<h3>Easy</h3>
<p>
    <a th:href="@{/validAnagram}">Task 01. <i>242. Valid Anagram </i></a>
</p>
<p>
    <a th:href="@{/mergeSortedArrays}">Task 02. <i>88. Merge Sorted Arrays </i></a>
</p>
<p>
    <a th:href="@{/plusOne}">Task 03. <i>66. Plus One </i></a>
</p>
<p>
    <a th:href="@{/sqrtX}">Task 04. <i>69. Sqrt(x) </i></a>
</p>
<hr>
<h3>Medium</h3>


</body>
</html>